<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>add New items</title>
    <style type="text/css">
        .position {
            text-align: center; 
        }
    </style>
</head>
<body>
    <div class="position">
        <a href="{% url 'disp' %}"> <button type="button">Show all Items</button></a>
    </div>
    <div>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <input  type="submit" value="Add" />
        </form>
    </div>

</body>
</html>